// Colors
$primary-bg-color: #fafbff;
$secondary-bg-color: #fff;
$primary-text-color: #292d32;
$secondary-text-color: #b5b7c0;
$accent-color: #1679d6;
$white: #ffffff;
$black: #000000;
$border-color: #292d32;

/* Breakpoints */
$mobile: 375px;
$tablet: 768px;

$desktop: 1440px;
