// Colors
$primary-bg-color: #ffffff;
$secondary-bg-color: #fffbf3;
$primary-text-color: #667085;
$secondary-text-color: #3c3c3c;
$accent-color: #ffc12f;
$white: #ffffff;
$black: #000000;

/* Breakpoints */
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;
