@import '@/styles/index';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  @include bordered($border-color);
}

.card_title {
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
  font-weight: 400;
}

.card_content {
  margin-bottom: 2.8rem;
}

.link_wrapper {
  display: flex;
  justify-content: space-between;
}

.link_item {
  color: $accent-color;
}
